/build/
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/Makefile
/compile_commands.json
*.autosave
*.moc
*.qrc
*.ui.autosave
.vscode/
*.log
*.tmp
*.bak
*.swp


.DS_Store
Thumbs.db


/src/ThirdParty/imgui/.git/
/src/ThirdParty/imgui/.github/
/src/ThirdParty/imgui/examples/
/src/ThirdParty/imgui/docs/
/src/ThirdParty/imgui/misc/


# --- GLFW (manage source manually) ---
/src/ThirdParty/GLFW/.git/
/src/ThirdParty/GLFW/.github/
/src/ThirdParty/GLFW/docs/
/src/ThirdParty/GLFW/examples/
/src/ThirdParty/GLFW/tests/
/src/ThirdParty/GLFW/deps/

/src/ThirdParty/GLFW/CMakeFiles/
/src/ThirdParty/GLFW/CMakeCache.txt
/src/ThirdParty/GLFW/cmake_install.cmake
/src/ThirdParty/GLFW/Makefile